<!-- Back button -->
<div class="back-button">
    <button onclick="window.history.back()" class="btn btn-link">
        <img src="../../../assets/atras.png" alt="flecha atrás">
    </button>
</div>

<!-- Section: Design Block -->
<section class="text-center text-lg-start fondo-seccion">
    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right bg-body-tertiary" style="
              backdrop-filter: blur(30px);
              ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-4">Registro de especialistas</h2>

                        <form [formGroup]="registroEspecialistaForm" (ngSubmit)="registrarUsuario()">

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="nombre" class="form-control" formControlName="nombre" />
                                        <label class="form-label" for="nombre">Nombre</label>
                                        <div
                                            *ngIf="registroEspecialistaForm.get('nombre')?.invalid && registroEspecialistaForm.get('nombre')?.touched">
                                            El nombre es requerido y sólo puede estar compuesto por letras.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="apellido" class="form-control"
                                            formControlName="apellido" />
                                        <label class="form-label" for="apellido">Apellido</label>
                                        <div
                                            *ngIf="registroEspecialistaForm.get('apellido')?.invalid && registroEspecialistaForm.get('apellido')?.touched">
                                            El apellido es requerido y sólo puede estar compuesto por letras.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="edad" class="form-control" formControlName="edad" />
                                        <label class="form-label" for="edad">Edad</label>
                                        <div
                                            *ngIf="registroEspecialistaForm.get('edad')?.invalid && registroEspecialistaForm.get('edad')?.touched">
                                            La edad es requerida y sólo puede estar compuesta por números.
                                        </div>
                                        <div *ngIf="registroEspecialistaForm.get('edad')?.errors?.['min']">Debe ser 25 o
                                            más.</div>
                                        <div *ngIf="registroEspecialistaForm.get('edad')?.errors?.['max']">La edad debe
                                            ser hasta 65 años.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" id="dni" class="form-control" formControlName="dni" />
                                        <label class="form-label" for="dni">DNI</label>
                                    </div>
                                    <div
                                        *ngIf="registroEspecialistaForm.get('dni')?.invalid && registroEspecialistaForm.get('dni')?.touched">
                                        El DNI es requerido.
                                    </div>
                                    <div *ngIf="registroEspecialistaForm.get('dni')?.errors?.['pattern']">Debe contener
                                        solo números y
                                        no
                                        más
                                        de 8
                                        dígitos.</div>
                                </div>
                            </div>

                            <!-- Listado de especialidades con checkboxes -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <h3>Selecciona Especialidades</h3>
                                <div class="listado-especialidades">
                                    <div *ngFor="let especialidad of especialidades">
                                        <input type="checkbox" [value]="especialidad.nombre"
                                            (change)="onCheckboxChange($event, especialidad.nombre)" />
                                        {{ especialidad.nombre }}
                                    </div>
                                </div>



                                <!-- Input para agregar nueva especialidad -->
                                <!-- <div class="nueva-especialidad mt-3 form-outline mb-4" data-mdb-input-init>
                                    <input type="text" [(ngModel)]="nuevaEspecialidad"
                                        formControlName="nuevaEspecialidad" placeholder="Agregar otra especialidad"
                                        class="form-control" />
                                    <button type="button" (click)="agregarEspecialidad()"
                                        class="btn anadir-especialidad mt-2">Añadir</button>
                                </div> -->
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="email" class="form-control" formControlName="email" />
                                <label class="form-label" for="email">Correo electrónico</label>
                                <div
                                    *ngIf="registroEspecialistaForm.get('email')?.invalid && registroEspecialistaForm.get('email')?.touched">
                                    El correo electrónico es requerido y debe tener un formato válido.
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="password" id="clave" class="form-control"
                                            formControlName="clave" />
                                        <label class="form-label" for="clave">Contraseña</label>
                                        <div
                                            *ngIf="registroEspecialistaForm.get('clave')?.invalid && registroEspecialistaForm.get('clave')?.touched">
                                            La contraseña es requerida. Debe tener al menos mínimo
                                            8 caracteres.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="password" id="repiteClave" class="form-control"
                                            formControlName="repiteClave" />
                                        <label class="form-label" for="repiteClave">Repite contraseña</label>
                                        <div
                                            *ngIf="registroEspecialistaForm.get('clave')?.invalid && registroEspecialistaForm.get('clave')?.touched">
                                            {{registroEspecialistaForm.get('repiteClave')?.getError('noCoincide')}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="file" id="imagenEspecialistaUno" (change)="onFileSelected($event, 1)" />
                                <label for="imagenEspecialistaUno">Subir Imagen</label>
                            </div>

                            <div class="captcha">
                                <re-captcha (resolved)="resolved($event)"
                                    siteKey="6Leoo3sqAAAAAKN4otmOGsxBxjDPbUzXSxWyiNcQ"></re-captcha>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-block mb-4 boton-enviar"
                                [disabled]="!this.registroEspecialistaForm.valid || !captchaResponse || !imagenSeleccionada1">
                                Crear usuario
                            </button>

                        </form>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="../../../assets/registro-especialista.jpg" class="w-100 rounded-4 shadow-4" alt="" />
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->