$moradoInstitucional: rgb(103, 48, 63);
$rosaInstitucional: rgb(242, 228, 233);
$moradoInstitucionalal70: rgba(103, 48, 63, 0.7);
$moradoInstitucionalal60: rgba(103, 48, 63, 0.6);
$secondary-color: #f8e1f4; // Rosa pálido
$text-color: #333;
$white: #fff;

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;

    button {
        img {
            width: 50px;
            height: 50px;
        }
    }
}


.fondo-seccion {
    background-color: $moradoInstitucionalal70;
    height: 100vh;
    display: flex;
    align-items: center;
}

.cascading-right {
    margin-right: -50px;
    background-color: $rosaInstitucional;
    color: $moradoInstitucional;
    border-radius: 20px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

.form-control {
    text-align: center;
}

.boton-enviar {
    background-color: $moradoInstitucional;
    color: $rosaInstitucional;
    margin-top: 1em;
}

.listado-especialidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.anadir-especialidad {
    background-color: $rosaInstitucional;
    color: $moradoInstitucional;
}

input[type="file"] {
    display: block;
    margin-top: 1em;
}