<!-- Back button -->
<div class="back-button">
    <button onclick="window.history.back()" class="btn btn-link">
        <img src="../../../assets/atras.png" alt="flecha atrás">
    </button>
</div>

<div class="selection-container">
    <button class="role-button" (click)="irARegistroPaciente()">
        <img src="../../../assets/registro-paciente.jpg" alt="Paciente" />
        <span class="role-text">Pacientes</span>
    </button>
    <button class="role-button" (click)="irARegistroEspecialista()">
        <img src="../../../assets/registro-especialista.jpg" alt="Especialista" />
        <span class="role-text">Especialistas</span>
    </button>
</div>