<header>
    <div>
        <nav class="navbar navbar-expand-lg px-4 navbar-fondo">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="javascript:void(0);" routerLink="/home">
                    <img src="../../../assets/isologo-horizontal.png" alt="Clinica Vitalis logo" loading="lazy" />
                </a>

                <button class="navbar-toggler navbar-texto" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link navbar-texto" href="javascript:void(0);" routerLink="/mi-perfil-paciente">Mi perfil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link navbar-texto" href="javascript:void(0);" routerLink="/mis-turnos-paciente">Mis turnos</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link navbar-texto" href="javascript:void(0);" routerLink="/solicitar-turnos">Solicitar turno</a>
                        </li>


                        <!-- <li class="nav-item">
                            <a class="nav-link navbar-texto" href="javascript:void(0);" routerLink="/registro-especialista">Crear usuario especialista</a>
                        </li> -->
                    </ul>
                </div>

            </div>

            <button class="btn btn-outline-danger text-nowrap" type="button">
                Bienvenidx, {{ usuario?.nombre }}
            </button>

            <button class="btn cerrar-sesion text-nowrap" type="button" (click)="cerrarSesion()">
                Cerrar sesión
            </button>

        </nav>
    </div>
</header>
