<app-header-especialista></app-header-especialista>

<div class="spinner-container" [appSpinner]="isLoading"></div>

<section class="listado">
    <h2>Mis turnos</h2>

    <div class="filtro">
        <label for="filtro">Filtrar por:</label>
        <input id="filtro" type="text" [(ngModel)]="filtro" (ngModelChange)="actualizarFiltro($event)"
            placeholder="Ingrese valor a buscar" />
    </div>

    <div class="turnos">
        <div class="card text-center" *ngFor="let turno of misTurnosFiltrados">
            <div class="card-header">{{ turno.especialidad }}</div>
            <div class="card-body">
                <h5 class="card-title">Paciente: {{turno.usuario.apellido + ', ' + turno.usuario.nombre}}</h5>
                <p class="card-text"><strong>Fecha:</strong> {{ turno.fecha.toDate() | date: 'dd/MM/yyyy' }} -
                    {{turno.hora }}hs.</p>
                <p class="card-text" *ngIf="turno.estado === 'Cancelado' || turno.estado === 'Rechazado'">
                    <strong>Comentario:</strong> {{ turno.comentarioCancelacion }}
                </p>
                <p class="card-text" *ngIf="turno.resenaEsVisible">
                    <strong>Reseña:</strong> {{ turno.resena }}
                </p>
                <button *ngIf="turno.estado === 'Pendiente'" (click)="aceptarTurno(turno.id)">Aceptar</button>
                <button *ngIf="turno.estado === 'Pendiente'" [context]="turno.id" [onSave]="handleCancel"
                    [modalMessage]="'Ingrese el motivo de la cancelación:'" appCancelModal>Cancelar</button>
                <button *ngIf="turno.estado === 'Pendiente'" [context]="turno.id" [onSave]="handleReject"
                    [modalMessage]="'Ingrese el motivo del rechazo:'" appCancelModal>Rechazar</button>
                <button *ngIf="turno.estado === 'Aceptado'"
                    [routerLink]="['/guardar-historia-clinica', turno.id]">Finalizar</button>
                <button *ngIf="turno.resena !== ''" (click)="verResena(turno)">
                    {{turno.resenaEsVisible ? 'Ocultar reseña' : 'Ver reseña'}}
                </button>
            </div>
            <div class="card-footer text-muted" [appEstadoTurnoColor]="turno.estado">Estado: {{ turno.estado }}</div>
        </div>
    </div>

</section>