<!-- Back button -->
<div class="back-button">
    <button onclick="window.history.back()" class="btn btn-link">
        <img src="../../../assets/atras.png" alt="flecha atrás">
    </button>
</div>

<!-- Section: Design Block -->
<section class="text-center text-lg-start fondo-seccion">
    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="../../../assets/doctor-holding-heart-shape.jpg" class="w-100 rounded-4 shadow-4" alt="" />
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-left bg-body-tertiary" style="
              backdrop-filter: blur(30px);
              ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Ingreso de usuarios registrados</h2>
                        <form [formGroup]="loginForm">

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="email" class="form-control" formControlName="email" />
                                <label class="form-label" for="email">Correo electrónico</label>
                                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                                    El correo electrónico es requerido y debe tener un formato válido.
                                </div>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="clave" class="form-control" formControlName="clave" />
                                <label class="form-label" for="clave">Contraseña</label>
                                <div *ngIf="loginForm.get('clave')?.invalid && loginForm.get('clave')?.touched">
                                    La contraseña es requerida.
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-block mb-4 boton-enviar" (click)="ingresarUsuario()">
                                Ingresar
                            </button>

                            <!-- Botones de inicio rápido -->
                            <div class="botones-acceso-rapido">
                                <div class="quick-login-buttons">
                                    <button *ngFor="let user of quickLoginUsers" class="quick-login-button"
                                    appExpandirBoton (click)="cargarForm(user.email, user.password)">
                                        <img [src]="user.profileImage" alt="Imagen de perfil" class="profile-image" />
                                        <span class="user-name">{{ user.name }}</span>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->