$moradoInstitucional: rgb(103, 48, 63);
$rosaInstitucional: rgb(242, 228, 233);
$moradoInstitucionalal70: rgba(103, 48, 63, 0.7);
$moradoInstitucionalal60: rgba(103, 48, 63, 0.6);
$secondary-color: #f8e1f4; // Rosa pálido
$text-color: #333;
$white: #fff;

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;

    button {
        img {
            width: 50px;
            height: 50px;
        }
    }
}

.fondo-seccion {
    position: relative;
    background-color: $moradoInstitucionalal70;
    height: 100vh;
    display: flex;
    align-items: center;
}

.cascading-left {
    margin-left: -50px;
    background-color: $rosaInstitucional;
    color: $moradoInstitucional;
    border-radius: 20px;
}

@media (max-width: 991.98px) {
    .cascading-left {
        margin-left: 0;
    }
}

.form-control {
    text-align: center;
}

.boton-enviar {
    background-color: $moradoInstitucional;
    color: $rosaInstitucional;
}

.quick-login-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1rem;
}

.botones-acceso-rapido {
    position: absolute;
    right: -18em;
    top: -4em;
}

.quick-login-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80px;
    height: 80px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s ease;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.user-name {
    opacity: 1;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    font-size: 0.9rem;
    padding-left: 5px;
}